Schema/db_Schema.rnc

start = db
db = element db {geo+}
geo = element geo {id, lat, lon, name, source, time, also*, basis*}
id = attribute id {xsd:ID}
lat = attribute lat {text}
lon = attribute lon {text}
name = attribute name {text}
source = attribute source {"chgis"|"maps.google.com"|"osm"|"GeoNames"}
time = attribute time {"ex"|"la"|"ea"}
also = attribute also {text}
basis = attribute basis {text}